/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/keypos_def/keypos_42keys.h"

// Keys
#define KEYS_L LT0 LT1 LT2 LT3 LT4 LT5 LM0 LM1 LM2 LM3 LM4 LM5 LB0 LB1 LB2 LB3 LB4 LB5  // left-hand keys
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RT5 RM0 RM1 RM2 RM3 RM4 RM5 RB0 RB1 RB2 RB3 RB4 RB5  // right-hand keys
#define THUMBS LH2 LH1 LH0 RH0 RH1 RH2                                                  // thumb keys

// Layers
#define COL 0
#define NUM 1
#define NAV 2

// Macros
#define U_UNDO  LG(Z)
#define U_CUT   LG(X)
#define U_COPY  LG(C)
#define U_PSTE  LG(V)
#define U_REDO  LS(LG(Z))
#define U_CLIP  LC(LG(C))
#define U_SHOT  LS(LG(N4))

#define ___ &trans

// Overwrite the display cs pin
&nice_view_spi {
  cs-gpios = <&pro_micro 0 GPIO_ACTIVE_HIGH>;
};

// Homerow mods
ZMK_BEHAVIOR(hm, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <125>;
    bindings = <&kp>, <&kp>;
)

// Tap: sticky shift | double tap: capsword
ZMK_BEHAVIOR(ss_cw, tap_dance,
    tapping-term-ms = <200>;
    bindings = <&sk LSHFT>, <&caps_word>;
)

&lt {
  flavor = "tap-preferred";
  tapping-term-ms = <200>;
  quick-tap-ms = <0>;
};

// Euro sign
ZMK_UNICODE_SINGLE(euro_sign, N2, N0, A, C)  // €

// Keymap
ZMK_LAYER(default,
     // ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
              &kp TAB        &kp Q        &kp W        &kp F        &kp P        &kp B     &kp J        &kp L        &kp U        &kp Y        &kp SEMI     &kp BSPC
     // ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
              &kp ESC  &hm LSHFT A  &hm LCTRL R   &hm LALT S   &hm LGUI T        &kp G     &kp M        &hm RGUI N   &hm RALT E   &hm RCTRL I  &hm RSHFT O  &kp SQT
     // ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┤────────────┤
               &ss_cw        &kp Z        &kp X        &kp C        &kp D        &kp V     &kp K        &kp H        &mt COMMA LBKT &mt DOT RBKT &mt SEMI EXCL &kp FSLH
     // ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┤────────────╯
                                                     &mo NAV &lt NAV SPACE   &kp LSHFT     &mt BSPC LGUI &lt NUM SPACE &mo NUM
     //                                        ╰────────────┴────────────┴────────────╯   ╰────────────┴────────────┴────────────╯
)

ZMK_LAYER(nav,
     // ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
                  ___          ___          ___          ___          ___          ___     &kp PG_UP    &kp HOME     &kp UP       &kp END      &kp INS      &kp C_VOL_UP
     // ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
         &kp C_AL_LOCK   &sk LSHFT    &sk LCTRL     &sk LALT     &sk LGUI          ___     &kp PG_DN    &kp LEFT     &kp DOWN     &kp RIGHT    &kp DEL      &kp C_MUTE
     // ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
                  ___          ___   &kp LG(N1)   &kp LG(N2)   &kp LG(N3)          ___     &kp LC(X)    &kp LC(INS)  &kp LS(INS)  ___          ___          &kp C_VOL_DN
     // ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┤────────────╯
                                                         ___          ___          ___     ___          ___          ___
     //                                        ╰────────────┴────────────┴────────────╯   ╰────────────┴────────────┴────────────╯
)

ZMK_LAYER(num,
     // ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
                  ___      &kp TAB &mt N7 AMPS  &mt N8 STAR  &kp N9       &kp STAR         ___          ___          ___          ___          ___          ___
     // ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
                  ___   &euro_sign &mt N4 DLLR  &mt N5 PRCNT &mt N6 CARET &mt PLUS EQUAL   ___          &sk RGUI     &sk LALT     &sk LCTR     &sk LSHFT    ___
     // ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
                  ___      &kp RET &mt N1 EXCL  &mt N2 AT    &mt N3 HASH      &kp FSLH     ___          ___          &kp LPAR     &kp RPAR     ___          ___
     // ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┤────────────╯
                                                     &kp DOT       &kp N0    &kp MINUS     ___          ___          ___
     //                                        ╰────────────┴────────────┴────────────╯   ╰────────────┴────────────┴────────────╯
)
